<div class="main_header">
    <div style="display: table-cell; background-color:cornflowerblue;">
        <div style="padding: 20px;">
            <input type="button" value="Level1" onclick="changeLevel(1)">
            <input type="button" value="Level2" onclick="changeLevel(2)">
            <input type="button" value="Level3" onclick="changeLevel(3)">
            <input type="button" value="Level4" onclick="changeLevel(4)">
            <input type="button" value="Level5" onclick="changeLevel(5)">
        </div>
    </div>
</div>