.main_table {
    display: table;
    width: 100%;
    height: 100%;
}

.main_table2 {
    display: table-cell;
    width: 70%
}

.main_table3 {
    display: table;
    width: 100%;
    height: 100%;
}

.main_header {
    display: table-row;
    height: 50px;
    background-color: cornflowerblue;
}

.footer {
    display: table-row;
    height: 100px;
    background-color: green
}