@charset "UTF-8";

.text_hot_pink { color: #CC6699 }
.text_pink { color: #FFCCCC }
.text_blue { color: #0099CC }
.text_teal { color: #588485 }

.grid_layout {
    position: absolute !important;
    left: 33%;
    top: 50%;
    transform: translateY(-70%);
}

.auto_corr_matrix_container {
    position: absolute;
    display: block;
    background: none;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.auto_corr_matrix_cell {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 0;
    font-size: xx-small;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 2em;
}

.auto_corr_matrix_cellWrapper {
    width: 16px;
    height: 16px;
    position: absolute;
    background: none;
    z-index: 2;
    border-style: solid outset;
    border-width: 1px;
    border-color: black;
    font-size: x-small;
}

.auto_corr_matrix_cell_coord_text {
    font-size: xx-small;
    font-weight: normal;
    font-style: normal;
    padding-top: 2px;
    padding-left: 3px;
    color: #444444;
    text-align: left;
    vertical-align: top;
}

.auto_corr_matrix_cellValid {
    background: #00FF00;
}

.auto_corr_matrix_cellInvalid {
    background: #FF4400;
}

.auto_corr_matrix_cellSelected {
    background: none;
}

.auto_corr_matrix_cellUnselected {
    background: none;
}

.gridContainer {
    position: relative;
    top: 10px;
    padding: 0 0 0 0;
    display: block;
    background: none;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

.cell {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 0;

    font-size: x-large;
    font-weight: normal;
    font-style: normal;
    color: #888888;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 2em;
}

.cellSelected {
    background: #00CCFF;
}

.cellUnselected {
    background: none;
}

.cellCoordinates {
    width: 36px;
    height: 36px;
    position: absolute;
    background: none;
    z-index: 1;
}

.cellWrapper {
    width: 36px;
    height: 36px;
    position: absolute;
    background: none;
    z-index: 2;
    border-style: solid outset;
    border-width: 1px;
    border-color: transparent;
    font-size: normal;
}

.cellCoordText {
    font-size: x-small;
    font-weight: normal;
    font-style: normal;
    padding-top: 2px;
    padding-left: 3px;
    color: #444444;
    text-align: left;
    vertical-align: top;
}