.blackWhiteDNA {
    height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    z-index: -10;
}
.colorDNA {
    height: 0%;
    z-index: 10;
}
.dnaBackground {
    width: 100%;
    top: 0px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-size: 18%;
    position: absolute;

}