<html>
<head>
    <link rel="stylesheet" href="tile.css">
    <link rel="stylesheet" href="grid.css">
    <script src="tile.js"></script>
</head>
<body>
    <div style="display:table; width: 100%; height: 100%;">
        <div style="display:table-cell; width: 70%">
            <div style="display:table; width: 100%; height:100%;">
                <div style="display: table-row; height: 50px; background-color:cornflowerblue;">
                    <div style="display: table-cell; background-color:cornflowerblue;">
                        <div style="padding: 20px;">
                            <input type="button" value="Level1" onclick="changeLevel(1)">
                            <input type="button" value="Level2" onclick="changeLevel(2)">
                            <input type="button" value="Level3" onclick="changeLevel(3)">
                            <input type="button" value="Level4" onclick="changeLevel(4)">
                            <input type="button" value="Level5" onclick="changeLevel(5)">
                        </div>
                    </div>
                </div>
                <div style="display: table-row; height: 100%;">
                    <div style="display:table-cell; text-align: center; vertical-align: middle;">
                        <div id="body" style="display: inline-block;"> </div>
                    </div>
                </div>
                <div style="display: table-row; height: 100px; background-color:green">
                    Footer
                </div>
            </div>
        </div>
        <div style="display:table-cell; background-color:red; width: 30%">
            DNA
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            createGrid(11, 64);
        }

        var centerTile = null;
        function createGrid(gridSize, tileSize) {
            var div = document.getElementById("body");
            
            while (div.hasChildNodes()) {
                div.removeChild(div.lastChild);
            }

            var realTileSize = tileSize + 6; //because one border 3px

            var firstCenterCell = Math.floor(gridSize / 2);
            var endCenterCell = firstCenterCell + 2;

            grid = document.createElement('div');
            grid.className = "container";
            div.appendChild(grid);

            var centerCell = null;
            var tiles = [];
            for (var i = 1; i <= gridSize; i++) {
                var row = document.createElement('div');
                row.className = "row";

                grid.appendChild(row);
                for (var j = 1; j <= gridSize; j++) {
                    var column = document.createElement('div');
                    column.className = "column";

                    row.appendChild(column);

                    if (i == firstCenterCell + 1 && j == firstCenterCell + 1) {
                        centerCell = column;
                        continue;
                    }
                    else if (i >= firstCenterCell && i <= endCenterCell
                        && j >= firstCenterCell && j <= endCenterCell) {
                        continue;
                    }

                    var _tile = tile.createTile(1, tileSize, tileSize);
                    tiles.push(_tile);
                    _tile.onclick = tileClick;
                    column.appendChild(_tile);
                }
            }

            centerTile = tiles[Math.floor(Math.random() * tiles.length)];
            centerTile = tile.copyTile(centerTile);

            centerCell.appendChild(centerTile);
        }

        function tileClick() {
            if (centerTile.id == this.id)
                alert("Won");
            else
                alert("Lost");

            createGrid(9, 64);
        }

        function changeLevel(level) {
            var canvasArr = document.getElementsByTagName("canvas");

            for (var index = 0; index < canvasArr.length; index++) {
                var canvas = canvasArr[index];

                tile.setLevel(canvas, level);
            }
        }
    </script>
</body>
</html>
