<html>
<head>
    <link rel="stylesheet" href="tile.css">
    <link rel="stylesheet" href="grid.css">
    <script src="tile.js"></script>
</head>
<body>
    <div style="display:table; width: 100%; height: 100%;">
        <div style="display:table-cell; width: 70%">
            <div style="display:table; width: 100%; height:100%;">
                <div style="display: table-row; height: 50px; background-color:cornflowerblue;">
                    <div style="display: table-cell; background-color:cornflowerblue;">
                        <div style="padding: 20px;">
                            <input type="button" value="Level1" onclick="changeLevel(1)">
                            <input type="button" value="Level2" onclick="changeLevel(2)">
                            <input type="button" value="Level3" onclick="changeLevel(3)">
                            <input type="button" value="Level4" onclick="changeLevel(4)">
                            <input type="button" value="Level5" onclick="changeLevel(5)">
                        </div>
                    </div>
                </div>
                <div style="display: table-row; height: 100%;">
                    <div style="display:table-cell; text-align: center; vertical-align: middle;">
                        <div id="body" style="width: 630px; height: 630px; display: inline-block;"> </div>
                    </div>
                </div>
                <div style="display: table-row; height: 100px; background-color:green">
                    Footer
                </div>
            </div>
        </div>
        <div style="display:table-cell; background-color:red; width: 30%">
            DNA
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            var div = document.getElementById("body");

            size = 9;

            for (var i = 0; i < size; i++) {
                for (var j = 0; j < size; j++) {
                    var el = tile.createTile(1);
                    div.appendChild(el);
                }
            }
        }

        function changeLevel(level) {
            var canvasArr = document.getElementsByTagName("canvas");

            for (var index = 0; index < canvasArr.length; index++) {
                var canvas = canvasArr[index];

                tile.setLevel(canvas, level);
            }
        }
    </script>
</body>
</html>
