.tile {
    border: 3px solid #A0A0A4;
    border-radius: 7px;
    position:relative;
}

.tileChangeBackground {
    background-color: green;
    -webkit-animation: background 3s infinite linear;
    -moz-animation: background 3s infinite linear;
}
@-webkit-keyframes background {
    from { -webkit-filter: hue-rotate(0deg); }    
    to   { -webkit-filter: hue-rotate(360deg); }
}
@-moz-keyframes background {
    from { -moz-filter: hue-rotate(0deg); }    
    to   { -moz-filter: hue-rotate(360deg); }
}

.tileChangeSize {
    -webkit-animation: resize ease-in-out 3s infinite alternate;
    -moz-animation: resize ease-in-out 3s infinite alternate;
}
@-webkit-keyframes resize
{
   from {-webkit-transform: scale(1.0) }
   to   {-webkit-transform: scale(0.7) }
}
@-moz-keyframes resize
{
   from {-moz-transform: scale(1.0) }
   to   {-moz-transform: scale(0.7) }
}

.tileMove {
    -webkit-animation: move ease-in-out 3s infinite alternate;
    -moz-animation: move ease-in-out 3s infinite alternate;
}
@-webkit-keyframes move
{
   from {left: 0px; top:0px; -webkit-transition: 1s; }
   to   {left: 50px; top:50px; -webkit-transition: 1s; }
}
@-moz-keyframes move
{
   from {left: 0px; -webkit-transition: 1s; }
   to   {left: 500px; -webkit-transition: 1s; }
}

.tileRotate {
    -webkit-animation: rotate ease-in-out 3s infinite alternate; 
    -moz-animation: anim2 ease-in-out 3s infinite alternate; 
}
@-webkit-keyframes rotate
{
   from {-webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {-webkit-transform: scale(0.7) rotate(10deg)  }
   to   {-webkit-transform: scale(1.0) rotate(-20deg) }
}
@-moz-keyframes rotate
{
   from {-moz-transform: scale(1.0) rotate(0deg)   }
   50%  {-moz-transform: scale(0.7) rotate(10deg)  }
   to   {-moz-transform: scale(1.0) rotate(-20deg) }
}