<main class="prompt">
    <p>That was 20/02/2016, when meteorite fell in North America.</p>
    <p>People, who found fragments was infected by previously unknown infection. </p>
    <p>It symptoms were similar to plague, but it has spreaded so rapidly throughout the world that people were dying literally every second.</p>
    <p>After detailed inspection of meteorite, researchers found virus and start researching it.</p>
    <p>You are the world famous immunologist and you were trusted to decode the DNA fragment to invent the vaccine and save the world. </p>
    <p>You should find the pieces of DNA from the set, which known to mankind.</p>
    <p>Hurry! Longer you think - more people will die. The fate of mankind depends on you!</p>
    <p>...<p>
</main>